body{
    background: pink
}
h1{
   color: black;
   font-family: 'Gill Sans';
   font-size: 300%;
   text-align: center;
   margin: 0px;
   background-color: skyblue;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    background-color: skyblue;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    background-color: skyblue;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}